*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html{
  font-size:22px;
}


body {
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

 

header {
  width:calc(100% -2px);
  padding:0 0.25em;
  background-color:mediumblue;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

main{
  width:100%;
  display: flex;
}